.container-design{
    width: 100%;
    background-color : #ff5f00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: 50px;
  }
  /* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 400px) {
    .responsive-font-example {
      font-size: 20px;
    }
    .responsive {
        width: 100%;
        max-width: 400px;
        height: 50px;
      }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 900px) {
    .responsive-font-example {
      font-size: 18px;
    }
    .responsive {
        width: 100%;
        max-width: 400px;
        height: 30px;
      }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background:#ff5f00;
  }
  .nav__brand {
    text-transform: uppercase;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 3rem;
    list-style: none;
  }
  .nav__toggler {
    display: none;
  }
  .nav__toggler div {
    width: 1.5rem;
    height: 0.1rem;
    margin: 0.4rem;
    background: black;
    transition: 0.3s ease-in;
  }
  
  @media screen and (max-width: 768px) {
    .nav__toggler {
      display: block;
      cursor: pointer;
    }
    .nav__menu {
      position: fixed;
      top: 7vh;
      right: 0;
      height: 93vh;
      width: 50vw;
      background: #ff5f00;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }
  /* Active Class */
  .nav__active {
    transform: translateX(0%);
  }
  
  /* Toggle Icon Animation */
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
  .span{
    font-weight: 900;
  }