#wrapper-main {
    margin: 2em;
  }
  
  
  #wrapper-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
  }
  
  .container-card {
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    padding: 1em;
    border-top: 4px solid var(--clr-primary);
  }
  
  @media screen and (max-width: 550px) {
    body {
      --font-size: 12px;
    }
  
    #wrapper-grid {
      grid-template-columns: 1fr;
    }
  
  }
  .sixt-button {
    color: #fff;
    background-color: #ff5f00 !important;
    border-color: #ff5f00 !important;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
  }
  .card-body {
    padding: 30px;
  }
  .card-align {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
  .card {
    box-shadow: 5px 5px 5px 5px#848484;
}
 